In [1]:
from pycaret.classification import *
from pycaret.regression import *
from pycaret.regression import *
import pandas as pd

In [ ]:
data = pd.read_csv('clima\\clima.csv')

In [24]:
# Se elimina los datos faltantes o nulos para que no exista alguna interferencia con Pycaret
data.drop(data[data['temperature_2m_mean'].isnull()].index,inplace=True)

In [25]:
data

,Unnamed: 0,date,temperature_2m_max,temperature_2m_min,temperature_2m_mean,snowfall_sum,precipitation_hours
0,0,2015-01-01 05:00:00,2.361000,-4.2890,-1.245250,0.00,0.0
1,1,2015-01-02 05:00:00,5.261000,-2.0890,0.950583,0.00,0.0
2,2,2015-01-03 05:00:00,8.011001,-2.7390,1.721417,3.08,11.0
3,3,2015-01-04 05:00:00,13.661000,7.6110,10.054749,0.00,12.0
4,4,2015-01-05 05:00:00,6.061000,-4.3390,0.867250,0.00,0.0
...,...,...,...,...,...,...,...
3283,3283,2023-12-28 05:00:00,11.417500,9.0175,10.019583,0.00,21.0
3284,3284,2023-12-29 05:00:00,13.167500,7.4175,9.432082,0.00,3.0
3285,3285,2023-12-30 05:00:00,7.717500,1.2175,5.046667,0.00,2.0
3286,3286,2023-12-31 05:00:00,6.267500,-1.8825,2.782084,0.07,1.0
3287,3287,2024-01-01 05:00:00,7.317500,-0.5325,3.284167,0.00,0.0

In [26]:
# Se configura en 'target' la columna 'temperature_2m_max' porque deseamos predecir la temperatura mÃ¡xima
s = setup(data, target = 'temperature_2m_max', session_id = 123)

En [Target type -->	Regression] nos indica que el tipo de modelo serÃ¡ de regresiÃ³n linear.

In [28]:
# Lo usamos para comparar todos los tipos de regresiÃ³n que existe
best = compare_models()

Processing:   0%|          | 0/85 [00:00<?, ?it/s]

In [30]:
# Indica que el mejor regresos es 'HuberRegressor'
print(best)

HuberRegressor(alpha=0.0001, epsilon=1.35, fit_intercept=True, max_iter=100,
               tol=1e-05, warm_start=False)

In [31]:
# se evalua el modelo.
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

In [32]:
'''Aqui nos muestra que el modelo es altamente confiable. En las dos Ãºltimas colÃºmnas se puede ver la columna
que se desea predecir y en 'prediction_label' se muestra la predicciÃ³n'''
predict_model(best)

,Unnamed: 0,date,temperature_2m_min,temperature_2m_mean,snowfall_sum,precipitation_hours,temperature_2m_max,prediction_label
1173,1173,2018-03-19 05:00:00,-2.232500,1.790417,0.00,0.0,7.267500,6.185383
2411,2411,2021-08-08 05:00:00,19.417501,20.996668,0.00,22.0,22.467501,22.648196
2266,2266,2021-03-16 05:00:00,-4.082500,-0.380417,0.07,1.0,2.667500,3.783845
1432,1432,2018-12-03 05:00:00,6.017500,10.177917,0.00,0.0,12.817500,14.716184
712,712,2016-12-13 05:00:00,-1.689000,1.550583,0.00,0.0,4.811000,5.396777
...,...,...,...,...,...,...,...,...
5,5,2015-01-06 05:00:00,-6.639000,-5.626500,1.05,6.0,-4.589000,-3.671924
1155,1155,2018-03-01 05:00:00,4.017500,9.646667,0.00,5.0,15.517500,14.872440
1578,1578,2019-04-28 05:00:00,5.867500,8.692500,0.00,5.0,11.067500,12.049867
116,116,2015-04-27 05:00:00,5.161000,10.154752,0.00,0.0,14.861000,15.191430
12,12,2015-01-13 05:00:00,-7.939000,-3.722334,0.21,2.0,1.011000,0.611894

In [33]:
predictions = predict_model(best)
predictions.head()

,Unnamed: 0,date,temperature_2m_min,temperature_2m_mean,snowfall_sum,precipitation_hours,temperature_2m_max,prediction_label
1173,1173,2018-03-19 05:00:00,-2.232500,1.790417,0.00,0.0,7.267500,6.185383
2411,2411,2021-08-08 05:00:00,19.417501,20.996668,0.00,22.0,22.467501,22.648196
2266,2266,2021-03-16 05:00:00,-4.082500,-0.380417,0.07,1.0,2.667500,3.783845
1432,1432,2018-12-03 05:00:00,6.017500,10.177917,0.00,0.0,12.817500,14.716184
712,712,2016-12-13 05:00:00,-1.689000,1.550583,0.00,0.0,4.811000,5.396777

In [34]:
# AquÃ­ se guarda el modelo para un uso posterior.
save_model(best,'prediccion_temp_max')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=C:\Users\ISMAEL\AppData\Local\Temp\joblib),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['Unnamed: 0', 'temperature_2m_min',
                                              'temperature_2m_mean',
                                              'snowfall_sum',
                                              'precipitation_hours'],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=None,
                                                               keep_empty_features=False,
                                                               missing_val...
                                                               handle_unknown='value',
                                                               hierarchy=None,
                                                               min_samples_leaf=20,
                                                               return_df=True,
                                                               smoothing=10,
                                                               verbose=0))),
                 ('clean_column_names',
                  TransformerWrapper(exclude=None, include=None,
                                     transformer=CleanColumnNames(match='[\\]\\[\\,\\{\\}\\"\\:]+'))),
                 ('trained_model',
                  HuberRegressor(alpha=0.0001, epsilon=1.35, fit_intercept=True,
                                 max_iter=100, tol=1e-05, warm_start=False))],
          verbose=False),
 'prediccion_temp_max.pkl')